{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ formulario.campo.data }}</h1>
        <video id="video" defaultMuted playsinline controls>
            <source src="{{ url_for('static', filename='filmes/{}.mp4'.format(formulario.campo.data) ) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <hr>
</div>
{% endblock %}